
body{
  text-align: center;
  background-color: #dddddd;
}
.div-center{
  margin: auto auto;
  width: 80%;
}
.bg-white{
  background-color: #ffffff !important;
}
.border-radius{
  border-radius: 4px !important;
}
.marginTop{
margin-top: 10px !important;
}
.inline{
  display: inline-block !important;
}
.marginBottom-0{
  margin-bottom: 0px;
}
img.avatar{
  width:128px;
  height: 128px;
}
.div-author span{
  color: #808080;
}
.marginRight-0{
  margin-right: 0px;
}
.marginLeft-0{
  margin-right: 0px;
}
.paddingLeft-0{
  padding-left: 0px !important;
}
.paddingRight-0{
  padding-right: 0px !important;
}
.am-text-muted{
  color: #C0C0C0;
}
.tip li{
  border:none;
  padding: 0px;
}
div.laravel-pagination ul{
  list-style: outside none none;
}
div.laravel-pagination ul > li{
  display: inline-block;
  float: left;
  width: 35px;
  height: 35px;
  border: solid 1px;
  border-color:#DDD;
  text-align: center;
}
div.laravel-pagination ul > li a{
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
div.laravel-pagination ul > li span{
  display: inline-block;
  vertical-align: middle;