/* Write your styles */
body{
	background-color: #dddddd;
	text-align: center;
	font-size: 15px;
}
header.topbar-color-custom{
	background-color: #ffffff !important;
}
form[role = "search"] input{
	height: 32px;
	border-radius: 4px;
	background: url('/image/search.png') no-repeat;
	background-position:3% 50%;
	padding-left: 30px;
}
button{
	height: 35px;
}
.button-round-custom{
	border-radius: 4px;
}
.div-custom{
	width: 80%;
	margin: auto auto;
	margin-top: 20px;
	border-radius: 4px;
}
ul.horizontal li{
	float: left;
	display: inline-block;
	margin-left: 18px;
	border-style: none;
}
p.default{
	margin-bottom: 3px;
	margin-top: 12px;
}
.div-color-white{
   background: #ffffff;
}
.div-author span{
	color: #808080;
}
.border-radius{
	border-radius: 4px !important;
}
.width-80{
	width: 80%;
}
img.avatars{
	width: 48px;
	height: 48px;
}
img.avatars-tp{
	width: 64px;
	height: 64px;
}
img.avatars-lg{
	width: 128px;
	height: 128px;
}
img.nav-avatars{
	width: 36px;
	height: 36px;
}
img.gray{
	-webkit-filter: grayscale(1);
    filter:gray;
    filter: grayscale(1);
}
img.emjoy{
	width:48px;
	height: 48px;
}
img.emjoy-sm{
	width: 32px;
	height: 32px;
}
.am-text-muted{
	color: #C0C0C0;
}
.am-text-default{
	color: #242424;
}
div.home-excellent > div:last-child{
	float: left !important;
}
div.community-u-body{
	padding-right: 0px;
	padding-left: 0px;
}
img.site-img{
	width:150px;
	height:44px;
}
.cursor{
	cursor: pointer;
}
.a-mg-rt-5{
	margin-right: -5px !important;
}
.border-none{
	border:none !important;
}
.inline-block{
	display: inline-block !important;
}
.margin-top-0{
	margin-top: 0px !important;
}
.margin-bottom-0{
	margin-top: 0px !important;
}
/*用于对laravel框架产生的分页按钮进行样式修饰*/
div.laravel-pagination ul{
	list-style: outside none none;
}
div.laravel-pagination ul > li{
	display: inline-block;
	float: left;
	width: 35px;
	height: 35px;
	border: solid 1px;
	border-color:#DDD;
	text-align: center;
}
div.laravel-pagination ul > li a{
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
div.laravel-pagination ul > li span{
	display: inline-block;
	vertical-align: middle;
}
div.avatar-choose img{
	cursor: pointer;
}
.image-choose-focus{
	border:2px solid #00FF66;
}
.img-upload{
	max-height: 350px;
	max-width: 590px;
}
.bbs-preview{
	border:2px solid #c0c0c0;
	border-radius: 4px;
	width: 600px;
	height: 360px;
	background-color: #DDDDDD;
	border-style: groove;
	padding: 5px;
}
.user-topic-div{
	width:100px;
	height: 45px;
}
.img-preview-lg{
	height: 140px;
	width: 140px;
}
.img-preview-md{
	height: 80px;
	width: 80px;
}
.img-preview-sm{
	height: 64px;
	width: 64px;
}


/*小屏幕样式*/
@media screen and ( max-width: 640px){

img.avatars{
	width: 32px;
	height: 32px;
}

.div-custom{
	width: 98%;
	margin: auto auto;
	margin-top: 20px;
	border-radius: 4px;
}
}



/*中等屏幕*/

@media (min-width: 641px) and (max-width: 1024px){

img.avatars{
	width: 36px;
	height: 36px;
}

.div-custom{
	width: 94%;
	margin: auto auto;
	margin-top: 20px;
	border-radius: 4px;
}
}